# use this as a template for .env and .env.build files
# and put a copy of the relevent values into each file.

SLACK_BOT_TOKEN=SLACK-BOT-USER-OATH-ACCESS-TOKEN
SLACK_SIGNING_SECRET=YOUR-SLACK-SECRET
REACT_APP_AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN
REACT_APP_AUTH0_CLIENT_ID=YOUR_AUTH0_CLIENT_ID