$bp: 700px;

.tiles {
  --gap: 4px;
  --col-template: 1fr;
}

@media (min-width: $bp) {
  .tiles {
    --gap: 30px;
    --col-template: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.tiles {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: var(--col-template);
}
