.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 1em;

  border-bottom: 1px solid #ededed;
  box-shadow: 1px 2px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;

  padding: var(--text-sm); //1rem;

  &.compact {
    padding: var(--text-xs); //1rem;
    font-size: var(--text-sm); // &{}
    box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.2);
  }

  > * {
    align-self: center;
    align-content: center;
  }

  transition: padding 500ms, font-size 500ms, box-shadow 500ms;
}

.authUser {
  font-size: var(--text-xs);
  text-align: right;
  span {
    display: block;
    font-family: var(--font-secondary);
    font-size: var(--text-lg);
  }
}
