@import '_patterns';

.tile {
  --border-size-tile: 2px;
  --border-size-profilePic: 2px;
  --col-text-away: #999;

  --col-dark: rgba(30, 30, 30, 1);
  --col-light: #c9c9c9;
  --col-accent-active: rgba(20, 140, 20, 1);
  --col-accent-busy: #f98d00;
  --col-accent-away: #efefef;

  --shadow-active: 3px 3px 6px 2px rgba(0, 0, 0, 0.15);
  --shadow-away: inset 1px 1px 0px 1px rgba(0, 0, 0, 0.1);
  --shadow-profile: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.8);
  --opacity-away: 0.6;

  --col-accent: var(--col-accent-active);

  --shadow: var(--shadow-active);
  --textCol: var(--col-dark);
  --profile-opacity: 1;
  --profile-filter: none;

  --border-col: var(--col-accent);
  --col-bg: var(--col-light);

  &.offline {
    --border-size-tile: 1px;
    --border-col: #efefef;
    --col-accent: var(--col-accent-offline);
    --col-bg: var(--col-accent-away);
    --shadow: var(--shadow-away);

    --shadow-profile: none;
    --textCol: var(--col-light);
    --profile-opacity: var(--opacity-away);
    --profile-filter: saturate(0);
    --section-pattern-opacity: 0;
  }

  &.dnd {
    --col-accent: var(--col-accent-busy);
    --bg-col: var(--col-dark);
    --profile-filter: sepia(1);
  }
}

.tile {
  // position: relative;
  transition: border 1200ms, padding 300ms;

  border-radius: 35px 0px 35px 0px;
  box-shadow: var(--shadow);
  border: var(--border-size-tile) solid var(--border-col);

  display: grid;
  grid-template-columns: auto 1fr;

  header {
    align-self: center;
    padding-left: calc(var(--image-size) * 0.25);

    img {
      display: block;
      transition: all 450ms;
      border-radius: 100px;
      border: var(--border-size-profilePic) solid var(--col-accent);
      opacity: var(--profile-opacity);
      filter: var(--profile-filter);
    }
  }

  section {
    color: var(--textCol);

    position: relative;
    overflow: hidden;

    > * {
      text-align: left;
      padding: 0 0 0 20px;
      margin: 0;
    }

    .name {
      padding-top: 0.5em;
    }

    .title {
      font-size: 0.8em;
    }

    .status {
      // padding-top: 1.25em;
      padding-bottom: 1.75em;
    }
  }
}
