.tile {
  --border-size: 1px;

  --col-dark: rgba(30, 30, 30, 1);
  --col-light: #c9c9c9;
  --col-accent-active: rgba(20, 140, 20, 1);
  --col-accent-busy: #f98d00;
  --col-accent-away: #686868;

  --shadow-active: 3px 3px 6px 2px rgba(0, 0, 0, 0.15);
  --shadow-away: inset 1px 1px 0px 1px rgba(0, 0, 0, 0.1);
  --shadow-profile: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.8);
  --tile-opacity: 1;

  --col-accent: var(--col-accent-active);
  --shadow: var(--shadow-active);
  --textCol: var(--col-dark);
  --profile-filter: none;
  --border-col: var(--col-dark);

  --col-icon-path: rgba(0, 0, 0, 0.5);
  --col-icon-bg: var(--col-accent);

  &.offline {
    --border-col: #efefef;
    --col-accent: var(--col-light);
    --shadow: var(--shadow-away);
    --tile-opacity: 0.3;

    --shadow-profile: none;
    --col-text: var(--col-accent-away);
    --profile-filter: saturate(0.25);

    --col-icon-path: rgba(0, 0, 0, 0.5);
    --col-icon-bg: none;
  }

  &.dnd {
    --col-accent: var(--col-accent-busy);
    --bg-col: var(--col-dark);
  }
}

.tile {
  position: relative;
  padding-top: 56.25%;
  transition: border 1200ms, padding 300ms;

  border-radius: 5px;
  box-shadow: var(--shadow);
  border: var(--border-size) solid var(--border-col);

  display: grid;
  grid-template-rows: auto auto;
  overflow: hidden;
  color: var(--col-text);

  filter: var(--profile-filter);

  background-image: var(--profile-pic);
  background-position: 50% 50%;
  background-size: cover;

  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(255, 255, 255, calc(1 - var(--tile-opacity)));

    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;

    > * {
      line-height: 1em;
      margin: 0;
      padding: 0 1rem 0.25rem 1rem;
      background: rgba(0, 0, 0, 0.3);

      &:first-child {
        padding-top: 1rem;
      }

      &:last-of-type {
        padding-bottom: 0.75rem;
      }
      // padding-bottom: 1rem;
      color: #fff;
    }

    h2 {
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    .status {
      font-style: italic;

      // &:after,
      &:before {
        display: block;
        content: ' ';
        border-top: 3px double rgba(255, 255, 255, 0.25);
        margin-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      &:after {
        padding-bottom: 0;
      }
    }

    .availability {
      position: absolute;
      padding: 0;
      margin: 0;
      top: 0.5rem;
      left: 0.5rem;

      background: none;

      width: 30px;
      height: 30px;
      path {
        fill: var(--col-icon-path);
        mix-blend-mode: hard-light;
      }

      padding: 5px;
      border-radius: 100px;
      background: var(--col-icon-bg);
    }
  }
}
