@import '_patterns';

.tile {
  --border-size-tile: 2px;
  --border-size-profilePic: 5px;
  --col-text-away: #999;

  --col-dark: rgba(30, 30, 30, 1);
  --col-light: #c9c9c9;
  --col-accent-active: rgba(20, 140, 20, 1);
  --col-accent-busy: #f98d00;
  --col-accent-away: #efefef;

  --shadow-active: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
  --shadow-away: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  --shadow-profile: 0 0 3px 0px rgba(0, 0, 0, 0.8);
  --opacity-away: 0.6;

  --col-accent: var(--col-accent-active);

  --shadow: var(--shadow-active);
  --textCol: var(--col-dark);
  --profile-opacity: 1;
  --profile-filter: none;

  --border-col: var(--col-accent);
  --col-bg: var(--col-dark);

  &.offline {
    --col-accent: var(--col-accent-offline);
    --col-bg: var(--col-accent-away);
    --shadow: var(--shadow-away);

    --shadow-profile: none;
    --textCol: var(--col-light);
    --profile-opacity: var(--opacity-away);
    --profile-filter: saturate(0);
    --section-pattern-opacity: 0;
  }

  &.dnd {
    --col-accent: var(--col-accent-busy);
    --bg-col: var(--col-dark);
    --profile-filter: sepia(1);
  }
}

.tile {
  position: relative;
  padding: calc(1vw + 1.1em);
  transition: border 1200ms, padding 300ms;

  header {
    position: absolute;
    width: var(--image-size);
    overflow: hidden;
    margin: 0 auto;
    z-index: 20;

    border-radius: 100px;
    margin-left: calc(52% - var(--image-size));
    border: var(--border-size-profilePic) solid var(--col-accent);
    box-shadow: var(--shadow-profile);

    img {
      display: block;
      transition: all 450ms;
      width: 100%;
      height: 100%;
      opacity: var(--profile-opacity);
      filter: var(--profile-filter);
    }
  }

  section {
    border-radius: 5px;
    box-shadow: var(--shadow);
    border: var(--border-size-tile) solid var(--border-col);
    margin-top: calc(var(--image-size) * 0.5);

    // padding-top: calc(var(--image-size) * 0.2);
    // padding-bottom: 1em;

    color: var(--textCol);

    position: relative;
    overflow: hidden;

    > * {
      text-align: center;
    }

    .name {
      margin: 0;
      padding-top: calc(var(--image-size) * 0.5);
      padding-bottom: 0.75em;
      background-color: var(--col-bg);
      color: var(--col-light);
    }
    .title {
      padding: 0.2em 0 0.35em 0;

      margin: 0;
      font-size: 0.8em;
      border-top: 1px solid var(--border-col);
      border-bottom: 1px solid var(--border-col);
    }

    .status {
      // background-color: var(--border-col);
      margin: 0;
      padding: 2em 0;
    }

    // &:before,
    // &:after {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   content: '';
    //   background-color: #fff;
    //   z-index: -20;
    // }

    // &:before {
    //   @include pattern-paper;
    //   z-index: -10;
    //   filter: saturate(0);
    //   opacity: var(--section-pattern-opacity);
    // }
  }
}
