.apiKey {
  position: absolute;
  top: 0.5em;
  left: 0.3em;
  width: 180px;
  display: inline-block;
  outline: none;

  padding: 0.2em;
  font-size: 0.8em;
  border: 1px solid #dedede;
  border-radius: 5px;
  text-align: center;
  transition: all 200ms ease-in-out;

  &::placeholder {
    color: rgba(200, 0, 0, 0.6);
  }

  &:focus {
    font-size: 1.2em;
    border-color: green;
    border-radius: 0;

    &::placeholder {
      color: transparent;
    }
  }

  &.empty {
    border: 1px solid rgba(250, 50, 50, 1);
  }
}
